<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Memes list</title>
</head>
<body>
    <h1 align="center">
        Memes list
    </h1>
    <h2><a href = "{% url 'life' %}">Жизненный цикл</a></h2>
    <br>
    {% for meme in memes %}
        <a href = "{% url 'memes' meme_id=meme.0 %}"><img src={{ meme.1 }} width="128" height="128"></a>
        <a href = "{% url 'memes' meme_id=meme.0 %}">{{ meme.0 }}</a>
        <br>
        <hr>
    {% endfor %}
    <br>
    <a href = "{% url 'index' page=1 %}">1</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {% for page in pages %}
         <a href = "{% url 'index' page=page %}">{{ page }}</a>&nbsp;
    {% endfor %}
    &nbsp;&nbsp;&nbsp;&nbsp;<a href = "{% url 'index' page=105 %}">105</a>

</body>
</html>